body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    background: linear-gradient(to bottom, #253461, #43104E, #253461);
    /*background: linear-gradient(to bottom, #26222A, #19194d, #26222A);*/
    overflow-x: hidden;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(100, 100, 100, 1);
    width: 95%;
    border-radius: 0;
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
}

p {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 250px;
    height: 325px;
}

h2 {
    text-align: center;
}

.about-pic {
    display: flex;
    align-items: center;
}

.about-pic img {
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 50px;
}

.about-description {
    margin-left: 200px;
    margin-right: 200px;
}


.about-text ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.about-flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.gallery-container {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 200px;
    background-color: transparent;
}

.gallery {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#galleryImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}

#prevImage,
#nextImage {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
}

#prevImage {
    left: 10px;
}

#nextImage {
    right: 10px;
}

.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.project img {
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.project:hover {
    transform: translateY(-7px);
    background-color: transparent !important;
}

.project h3,
.project p {
    padding: 0 15px;
}

.project a {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 13px 13px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
}

.project a:hover {
    background-image: linear-gradient(to right, gray, gray);
    border: 1px solid white;
}

.project a {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 13px 13px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.project a:hover {
    background-color: #ff416c;
    background-image: linear-gradient(45deg, #ff4b2b, #ff416c);
    transform: scale(1.05);
    border: 1px solid white;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#contact img {
    width: 100px;
    height: auto;
    margin: 30px;
}

footer {
    color: #fff;
    text-align: center;
    padding: 5px;
    width: 100%;
}
