body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background: linear-gradient(to bottom, #26222A,#19194d,#26222A);
   overflow-x: hidden;
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
}

p {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #262626;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

h2 {
    text-align: center;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project img {
    width: 100%;
    height: auto;
}
.project {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.project img {
  width: 300px; 
  height: 250px; 
  object-fit: cover; 
}

.project:hover {
    transform: translateY(-10px);
    background-color: transparent !important;
}

.project h3, .project p {
    padding: 0 15px;
}

.project a {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 15px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
background-image: linear-gradient(to right, blue, green);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #333; 
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

